.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.MainContent {
  overflow: auto;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;

}

.a {
  background-color: black; 
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
  pointer-events: none;
}

.editor-scroller {
	border: 0;
	display: flex;
	position: relative;
	outline: 0;
	z-index: 0;
	overflow: auto;
	resize: vertical;
  height: 100%;
}

.editor {
  flex: auto;
	position: relative;
	resize: vertical;
  height: 100%;

}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}